html, body {
    height: 100%;
    margin-top: 25px;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    font-family: system-ui;
}

#box-container {
    max-width: 100%;
    padding: 20px;
    border-radius: 10px; 
    background-color: rgba(30, 85, 42, 0.2);
    margin-bottom: 10px;
}

#box-container_2 {
    position : relative;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px; 
    background-color: rgba(30, 85, 42, 0.2);
    margin-bottom: 80px;
}

#titre {
    text-align: center;
    margin-bottom: 5%;
    font-size: 40px;
    font-family: Impact, fantasy;
    font-style: italic;
    color : rgb(255, 255, 255)
}

#intro p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 2%;
}

#attrib {
    text-align: center;
    margin-top: 6%;
    font-size: 10px;
    font-style: italic;
}

.image-container {
    margin: 0 auto; 
    text-align: center; 
    overflow: hidden;
  }

.image-container img {
    max-width: 60%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }

.image-container figcaption {
  font-size: 12px;
  font-style: italic;
  }

.side-by-side {
    float: left;
    margin-right: 10px; 
}

body.lightbox-open {
    overflow: hidden;
}

.lb-overlay {
    background: rgba(0, 0, 0, 0.8); 
}

#map-container {
    display: flex;
    height: 100vh;
    margin-bottom: 0 !important;
}

.mapping {
    flex: 1;
    height: 90%;
    border: 2px solid #000; 
    margin-right: 2mm;
}

* {
    box-sizing: border-box;
  }
  
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
    html, body {
        margin-right: 1em;
        margin-left: 1em;
    }

    #box-container {
        padding: 5px; /* Adjust padding for smaller screens */
    }

    #titre {
        margin-bottom: 30px; /* Adjust spacing below the intro div for smaller screens */
        font-size: 35px; /* Adjust the text size for smaller screens */
    } 

    #intro {
        margin-bottom: 5px;
    }
}
